<strong>Foi solicitada uma recumperação de senha para esse email</strong>

<P>Deseja recumperar sua senha? Clique no link abaixo</P>

<a href="{{link}}">Alterar senha</a>

<p>Se você não solicitou essa alteração pedimos que altere sua senha na plataforma.</p>