<strong style="margin-bottom: 10px;">Nova aposta criada</strong>
<p style="margin-bottom: 10px;">Obrigado por jogar conosco. Boa sorte nessa sua nova aposta, estamos torcendo por você.</p>
<p style="margin-bottom: 10px;">Um abraço,<br/> Time TGL</p>