<strong style="margin-bottom: 10px;">Bem vindo ao TGL</strong>
<p style="margin-bottom: 10px;">Parabéns {{name}}!</p>
<p style="margin-bottom: 10px;">Você acaba de criar sua conta na melhor plataforma de apostas do mercado!</p>
<p style="margin-bottom: 10px;">Um abraço,<br/> Time TGL</p>